
body{
    font-family: sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

.namehighlight{
 color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    

    margin-top: 20px;

    width: 70%;
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}

.descriptionpara{
    width: 100%;
    word-wrap: break-word;   

}

section{
    height: 500px;
    padding-bottom: 10px;

}
.link-btn{
  
    text-decoration: none;
    background-image: linear-gradient( 45deg,lightSalmon, Tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;


}

.dreamarea{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}



.imagefull{
border-radius: 20px;

}

.btn-success{
    text-decoration: none;
    background-image: linear-gradient( 45deg,#20BF55, #01BAEF);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}


