
body{
    font-family: sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{

    width: fit-content;
    height: fit-content;
    font-size: 25px;
    color: #C31F48; 
 

}
.experience-header{
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    color: #800080; 
    margin-left: 7.5%;

}

h3{
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    color: #173F5F; 



}
.namehighlight{
 color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    

    margin-top: 20px;

    width: 70%;
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}

.descriptionpara{
    width: 100%;
    word-wrap: break-word;   

}

section{
    height: 500px;
    padding-bottom: 10px;

}
.link-btn{
  
    text-decoration: none;
    background-image: linear-gradient( 45deg,lightSalmon, Tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-top: 10px;


}

.dreamarea{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}



.imagefull{
border-radius: 20px;

}

.btn-success{
    text-decoration: none;
    background-image: linear-gradient( 45deg,#20BF55, #01BAEF);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-top: 10px;

}

.single-experience{

    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height : 70%;
    background-color: white;
}
.experience-area{

    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon, Tomato);
    border-image-slice: 1;
   

}

#rpa-developer{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,#20BF55, #01BAEF);
    border-image-slice: 1;
}

